* {
            margin: 0px;
            padding: 10px;
        }



        #header {
            margin:auto;
            width: 500px;
            font-family: MeathFLF;
            font-size:20px;
        }

        ul, ol {
            list-style: none;
        }

        .nav > li {
            float: left;
        }

        .nav li a {
            background-color: #76B342;
            color: #fff;
            text-decoration: none;
            padding: 10px 12px;
            display: block;
            border-bottom:groove;
            border-radius: 96px 10px 96px 0px;
            -moz-border-radius: 96px 10px 96px 0px;
            -webkit-border-radius: 96px 10px 96px 0px;
            
        }

            .nav li a:hover {
                background-color: #F19B34;
            }

        .nav li ul {
            display: none;
            position: absolute;
            min-width: 140px;
        }

        .nav li:hover > ul {
            display: block;
        }

        .nav li ul li {
            position: relative;
        }

            .nav li ul li ul {
                right: -140px;
                top: 0px;
            }



    


       
